<div class="row row-nav" >

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <!-- 如果你不需要标题或图标可以删掉它 -->
            <h1><a href="/">GstarPak</a></h1>
        </li>
        <!-- 小屏幕上折叠按钮: 去掉 .menu-icon 类，可以去除图标。
        如果需要只显示图片，可以删除 "Menu" 文本 -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">

            {% for item in menus %}
            {% if item.Action==curnav %}
            <li class="active"><a href="{{item.Router}}">{{item.Name_en}}</a></li>
            {% else %}
            <li ><a href="{{item.Router}}">{{item.Name_en}}</a></li>
            {% endif %}
            {% empty %}
            <li><a href="/initialdata">InitialData</a></li>
            {% endfor %}
        </ul>
    </section>
</nav>
</div>

