<!DOCTYPE html>
<html>
<head>
  {% include "partial/header.html" with title="Gstar Packaging Company Limited - Jewelry packaging professional manufacturer"  %}
</head>
<body>
{% include "partial/topnav.html" if_exists %}

<div class="container-inner">
  <hr>
<div class="row row-content" style="width: 600px">
  <div style="padding:20px;">
    <div class="panel">
      <p><strong>Address:</strong>  #4 Plant,DaLing Industrial Area,Torch Development Zone,Zhongshan City,Guangdong Province,China</p>
      <p><strong>Email:</strong>  sales@gstarpak.com</p>
      <p><strong>PostCode:</strong>  528437</p>
    </div>
  </div>
</div>
</div>
<!--<div class="row">-->
<!--    <a href="#" class="th">-->
<!--        <img src="/static/za.jpg" alt="ZA"/>-->
<!--    </a>-->
<!--</div>-->

<!-- footer-->
{% include "partial/footer.html" if_exists %}
<!-- 初始化 Foundation JS -->
<script>
  $(document).ready(function() {
    $(document).foundation();
  })
</script>

</body>
</html>

