<!DOCTYPE html>
<html>
<head>
    {% include "partial/header.html" with title="Gstar Packaging Company Limited - Jewelry packaging professional manufacturer"  %}
</head>
<body>
{% include "partial/topnav.html" if_exists %}
<hr>

<div class="row row-content" >
    <div style="padding:20px;">
        <div class="panel">
            <h3>Professional Jewelry Manufacturer</h3>
            <p>Established in 2006, Gstar Packaging Corporation has 16 years’ experience and expertise in the Packaging Industry.</p>
            <p>The Company has located in Daling Industrial Area,Zhongshan,China. </p>
            <p>With our professional manufacturing experience , GstarPak has grown to be one of the reliable jewelry packaging suppliers in China.</p>

            <p>Continuous plant and equipment upgrades reflect our desire to be a excellent provider of packaging in the industry but, more important, are the levels to which we are committed in improvement.</p>

            <p>We have often being credited in the design and brave use of materials on our products. This innovative culture is still an integral part of today's GstarPak and we are constantly searching for ways to add value and service to our customers.</p>
            <p>We aim to promote sustainability in all our business activities, reinforcing our excellent supplier position in .</p>
        </div>
    </div>
        <div class="large-2 columns"></div>

</div>
<hr>
<div class="row row-content">
    <div style="padding:20px">
        <ul class="clearing-thumbs" data-clearing>
            <li><a href="/static/za.jpg" class="th"><img data-caption="PaperBox" src="/static/za.jpg" width="200" height="100"></a></li>
            <li><a href="/static/za.jpg" class="th"><img data-caption="CoveredBox" src="/static/za.jpg" width="200" height="100"></a></li>
            <li><a href="/static/za.jpg" class="th"><img data-caption="PaperBag" src="/static/za.jpg" width="200" height="100"></a></li>
        </ul>
    </div>
</div>


<hr>
<!--<div class="row">-->
<!--    <a href="#" class="th">-->
<!--        <img src="/static/za.jpg" alt="ZA"/>-->
<!--    </a>-->
<!--</div>-->

<!-- footer-->
{% include "partial/footer.html" if_exists %}
<!-- 初始化 Foundation JS -->
<script>
    $(document).ready(function() {
        $(document).foundation();
    })
</script>

</body>
</html>

