<!DOCTYPE html>
<html>
<head>
    {% include "partial/header.html" %}
</head>
<body>
{% include "partial/topnav.html" if_exists %}
<br>
<div class="container-inner">
<div class="row row-content">
    <div class="medium-1 columns" >
        <strong>Series</strong>
        <ul class="side-nav" >
            {% for item in categoryData %}
            <li><a href="{{item.Route}}">{{item.Name}}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="medium-7 columns">
        {% for item in productData %}
        <div class="medium-4 large-4 columns">
            <a href="#" class="th">
                <img src="{{item.ImgUrl}}" alt="Paris">
            </a>
<!--            <p class="text-center">{{item.Name}}</p>-->
            <div>
                <ul class="pricing-table">
                    <li class="title">{{item.Name}}</li>
                    <li class="bullet-item">Size:{{item.Size}}</li>
                    <li class="bullet-item">{{item.PackingInfo}}</li>
                    <li class="bullet-item">CBM: {{item.Cbm}} Kg</li>
                    <li class="bullet-item">G.W.: {{item.Gw}} Kg</li>
                    <li class="bullet-item">N.W.: {{item.Nw}} Kg</li>

                </ul>
            </div>
        </div>

        {%endfor%}
    </div>
    <div class="medium-4 columns">
        <img src="{{curDategory.ImgUrl}}"/>
    </div>

</div>
    </div>



<!-- footer-->
{% include "partial/footer.html" if_exists %}
<!-- 初始化 Foundation JS -->
<script>
    $(document).ready(function() {
        $(document).foundation();
    })
</script>

</body>
</html>


