<!DOCTYPE html>
<html>
<head>
    {% include "partial/header.html" with title="Gstar Packaging Company Limited - Jewelry packaging professional manufacturer"  %}
</head>
<body>
{% include "partial/topnav.html" if_exists %}
<br>
<div class="container-inner">
<div class="row row-content">
    <div class="medium-2 columns" style="background-color:#f1f1f1;">
        <ul class="side-nav">
            {% for item in content %}
            <li><a href="{{item.Route}}">{{item.Name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="medium-10 columns">
        {% for item in content %}
        <div class="medium-4 large-4 columns">
            <a href="{{item.Route}}" class="th">
                <img src="{{item.ImgUrl}}" alt="Paris">
            </a>
            <p class="text-center">{{item.Name}}</p>
        </div>
        {%endfor%}
    </div>
</div>
    </div>



<!-- footer-->
{% include "partial/footer.html" if_exists %}
<!-- 初始化 Foundation JS -->
<script>
    $(document).ready(function() {
        $(document).foundation();
    })
</script>

</body>
</html>


