<!DOCTYPE html>
<html>
<head>
    {% include "partial/header.html" with title="Gstar Packaging Company Limited - Jewelry packaging professional manufacturer"  %}
</head>
<body>
{% include "partial/topnav.html" if_exists %}
<div class="container-inner">
    <div class="row row-content">
        <div class="medium-2 columns" style="background-color:#f1f1f1;">
            <ul class="side-nav">
                {% for sidebar in content %}
                <li><a href="{{sidebar.Route}}">{{sidebar.Name}}  Series</a> </li>
                {% endfor %}
            </ul>
        </div>
        <div class="medium-10 columns">
            <h1>侧栏导航</h1>
            <p>该实例将侧栏导航房子网格设计中，背景为灰色。</p>
            <p><strong>注意：</strong> 在小屏幕尺寸上，侧栏导航是垂直的，且宽度是延展到整个屏幕（100% width）。</p>
            <p>重置浏览器查看效果。</p>
            <p>行为动作可以通过 javascript 或媒体查询来修改它。</p>
        </div>
    </div>
</div>



<!-- footer-->
{% include "partial/footer.html" if_exists %}
<!-- 初始化 Foundation JS -->
<script>
    $(document).ready(function() {
        $(document).foundation();
    })
</script>

</body>
</html>


